table{
    border-collapse: collapse;
    border-style: hidden;

}
th{
    text-align: left;
}
td {
    border: 1px solid grey;
}

button {
    background-color: rgba(8, 108, 130, 0.886);
    color: white;
}